.nav{
    border:1px solid #ccc;
    border-width: 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    margin-top:20px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding-left:50px;
    padding-right:50px;
}

a {
	text-decoration:none;
	color:#4F5D5A;
}

body {
	background-image: url('https://lh4.googleusercontent.com/LJLMe8_sreiKWrcBWiocTR_XIm0hC6x7CSSY_p9SIAI3o0WI-kSvkHMZ-gBR5maexYCExpScqU_QEY0HFD-6=w2562-h1346');
	background-size: cover;
}

h1 {
    font-family: 'Ruda', sans-serif;
}
