body {
	background-image: url('https://github.com/ashlyngohara/coneyisland/blob/master/watergif3.gif?raw=true');
	background-size: cover;
}

h1 {
	color:#F3E2CB;
	text-align:center;
	margin-top:300px;
	font-family: 'Ruda', sans-serif;
	font-size:175px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

button {
	margin:auto;
	display:block;
	width:300px;
	height:65px;
	background-color:transparent;
	color:white;
	font-size:40px;
	border-style:solid;
	text-align:center;
	text-decoration:none;
	outline:none;
	border:none;
	font-family:'Open Sans', sans-serif;
}

button:hover { 
    background-color: #E7B9A8;
    transition:1s;
    outline:none;
}

a {
	text-decoration:none;
	color:black;
}
